@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

html {
    font-family: 'PT Sans', sans-serif;
}

section {
    max-width: 900px;
    margin: 0 auto;

    bes-panel {
        bes-button {
            margin-bottom: 10px;
        }
    }
}
